:root {
    --font-primary: Georgia, 'Times New Roman', Times, serif;
    --font-secondary: Arial, Helvetica, sans-serif;
    --color-primary: #F1CDB3;    
    --color-dark-s: #CDCDCD;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-3xl: #292929;
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 1280px;
    margin: 0 auto;
}

section {
    width: 100%;
    padding: 0 40px;
}

.header-section, .start-screen-content {        
    background: url(../../assets/images/background-gradient.png);
    background-size: 1280px;
    padding-top: 60px;    
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about, .our-pets, .help {
    padding-top: 80px;
    padding-bottom: 100px;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo-main {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 2rem;    
    line-height: 110%;    
    letter-spacing: 0.06em;    
    color: var(--color-primary);
    display: inline-block;
    margin-bottom: 0.625rem;
}

.logo-sub {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    display: inline-block;
}

.main-menu {
    list-style-type: none;
}

.main-menu li {
    display: inline-block;
    margin-left: 2.1875rem;
}

.main-menu mark {
    background-color: unset;       
}

.main-menu mark li {
    border-bottom: 3px solid var(--color-primary); 
}

.main-menu mark a:link {
    color: var(--color-light-s);
}

.main-menu mark a:visited {
    color: var(--color-light-s);
}

.main-menu mark a:hover {
    color: var(--color-light-s);
}

.main-menu mark a:active {
    color: var(--color-light-s);
}

.main-menu a:link {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 160%;    
    color: var(--color-dark-s);
    text-decoration: none;  
}

.main-menu a:visited {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 160%;    
    color: var(--color-dark-s);
    text-decoration: none;   
}

.main-menu a:hover {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 160%;    
    color: var(--color-light-s);
    text-decoration: none;   
}

.main-menu a:active {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 160%;    
    color: var(--color-dark-s);
    text-decoration: none;   
}

.start-screen-content {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-screen-content .start-content {
    width: 38.333%;
    margin-right: 2.625rem;
}

.start-content h2 {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 130%;      
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 2.625rem;   
}

.start-content p {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 160%;      
    color: var(--color-dark-s);
    display: inline-block;
    margin-bottom: 2.625rem;   
}

.button-primary {
    background-color: var(--color-primary);
    width: 12.9375rem;
    height: 3.25rem;
    border-radius: 1.625rem;
    border: 0;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 130%;
    letter-spacing: 0.06em;      
    color: var(--color-dark-3xl);
}

.puppy {
    line-height: 0;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
}

.about-description {
    width: 35.8%;
    margin-left: 10%;
}

.about-description h3, .our-pets h3, .help h3 {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 2.185rem;    
    line-height: 130%;    
    letter-spacing: 0.06em;    
    color: var(--color-dark-l);
    display: inline-block;
    margin-bottom: 1.5625rem;
}

.about-description p {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 0.9375rem;    
    line-height: 160%;
    color: var(--color-dark-xl);
    display: inline-block;
    margin-bottom: 1.5625rem;
}

.about-description p:last-child {
    margin-bottom: 0.875rem;
}

.our-pets {
    background-color: var(--color-light-l);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-pets h3, .help h3 {
    text-align: center;
    margin-bottom: 3.75rem;
}

.slider {    
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 3.75rem;
}

.button-arrow {
    width: 3.25rem;
    height: 3.25rem;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
}

.button-arrow.left {
    margin-right: 0.5rem;  
    background-image: url(../../assets/icons/arrow-left.png);
    background-position: center;
    background-size: 14px;
    background-repeat: no-repeat;
}

.button-arrow.right {
    margin-left: 0.5rem;    
    background-image: url(../../assets/icons/arrow-right.png);
    background-position: center;
    background-size: 14px;
    background-repeat: no-repeat;
}

.cart {
    margin: 0 2.8125rem;
    text-align: center;
    background-color: var(--color-light-s);
}

.cart img {
    margin-bottom: 1.875rem;
}

.cart p {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.25rem;    
    line-height: 115%;    
    letter-spacing: 0.06em;    
    color: var(--color-dark-l);
    margin-bottom: 2.8125rem;    
}

.button-secondary {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.0625rem;    
    line-height: 130%;    
    letter-spacing: 0.06em;    
    color: var(--color-dark-3xl);
    width: 11.6875rem;
    height: 3.25rem;
    border: 2px solid var(--color-primary);
    background-color: var(--color-light-s);
    border-radius: 100px;
    margin-bottom: 1.875rem;
}

.our-pets .button-primary {
    width: 16.375rem;    
}


.list {
    height: 281px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
}

.help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    height: 113px;    
    margin-right: 7.5rem;
    text-align: center;
}

.help-item img {
    max-width: fit-content;    
    max-height: 60px;
}

.list h4 {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.25rem;    
    line-height: 115%;    
    letter-spacing: 0.06em;    
    color: var(--color-dark-l);
}